.App {
  text-align: center;
}

.main-container {
  margin-top: 65px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  align-content: center; */
}

.cart-table {
  width: 700px;
  /* text-align: center */
}
