.App {
  text-align: center;
}

.main-container {
  margin-top: 75px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  align-content: center; */
}

.cart-table {
  width: 700px;
  /* text-align: center */
  margin-left: auto;
  margin-right: auto;
}

.plus {
  color: rgb(2, 88, 2);
  border: 1px solid grey;
  padding: 2px;
  margin-left: 4px;
  cursor: pointer;
}

.plus:hover {
  background-color: rgb(2, 88, 2);
  color: whitesmoke;
}

.minus {
  color: rgb(161, 5, 5);
  border: 1px solid grey;
  padding: 2px;
  margin-left: 4px;
  cursor: pointer;
}

.minus:hover {
  background-color: rgb(161, 5, 5);
  color: whitesmoke;
}

/* .continue {
  margin-right: 5px;
} */

.clear-cart {
  float: right;
  clear: both;
}

.checkout {
  margin-left: 15%;
  margin-right: auto;
}

/* .carousel-container Carousel {
  height: 400px;
  max-height: 400px;
} */


Fade {
  height: 400px;
  max-height: 400px;
  size: 400px;
}